<div class="class">
  
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded-none dark:bg-gray-900">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="https://flowbite.com/" class="flex items-center">
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">What do you want to watch?  Choose Here ------></span>
      </a>
      <button data-collapse-toggle="navbar-default" type="button"
          class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
              class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                  <a href="#now_playing"
                      class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                      Now Playing
                  </a>
              </li>
              <li>
                  <a href="#popular"
                      class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                      Popular
                  </a>
              </li>
              <li>
                  <a href="#top_rated"
                      class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                      Top Rated
                  </a>
              </li>
              <li>
                <a class="btn btn-primary">Login
                </a>
            </li>
             
          </ul>
      </div>
  </div>
</nav>
<div id="now_playing">
  <h1 class="title" >Now Playing</h1>
<div id="movie_div"  class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <div *ngFor="let nowPlayingMovie of nowPlayingMovies; let i = index" id="single_movie_div" class="rounded overflow-hidden shadow-lg">
      <img class="w-full" [src]="'https://image.tmdb.org/t/p/w200'+nowPlayingMovie['backdrop_path']" alt="">
      <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-start">{{nowPlayingMovie['original_title']}}</div>
          <p class="text-gray-700 text-base text-start">
            {{nowPlayingMovie["overview"]}}
          </p>
      </div>
  </div>
</div>
</div>
<div id="popular">
  <h1 class="title" >Popular</h1>
<div id="movie_div"  class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <div *ngFor="let popularMovie of popularMovies; let i = index" id="single_movie_div" class="rounded overflow-hidden shadow-lg">
      <img class="w-full" [src]="'https://image.tmdb.org/t/p/w200'+popularMovie['backdrop_path']" alt="">
      <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-start">{{popularMovie['original_title']}}</div>
          <p class="text-gray-700 text-base text-start">
            {{popularMovie["overview"]}}
          </p>
      </div>
  </div>
</div>
</div>
<div id="top_rated">
  <h1 class="title" >Top Rated</h1>
<div id="movie_div"  class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <div *ngFor="let topRatedMovie of topRatedMovies; let i = index" id="single_movie_div" class="rounded overflow-hidden shadow-lg">
      <img class="w-full" [src]="'https://image.tmdb.org/t/p/w200'+topRatedMovie['backdrop_path']" alt="">
      <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-start">{{topRatedMovie['original_title']}}</div>
          <p class="text-gray-700 text-base text-start">
            {{topRatedMovie["overview"]}}
          </p>
      </div>
  </div>
</div>
</div>
</div>
<img src="https://png.pngtree.com/background/20210709/original/pngtree-movie-film-background-banner-design-picture-image_612258.jpg" alt="">